@import '../assets/fontello/css/fontello.css'; // Ikony
@import "variables";

iframe {
	width: 100%;
	height: calc(100vh - 216px);
	border: 0;
	border-radius: 5px;
	@media screen and (max-width: $mobile) {
		height: calc(100vh - 456px);
	}
}
#header
 {
	margin: 0 0 20px 0;
	min-height: 50px;
	display: flex;
	flex-direction: row;
}
button {
	width: 200px;
	height: 50px;
	font-size: 1.2rem;
	background-color: $accent;
	border: $accent 2px solid;
	border-radius: 5px;
	color: $dark1;
	transition-duration: 0.2s;
	cursor: pointer;
	
	&:hover {
		background-color: $dark1;
		color: $light1;
		box-shadow: 0 0 1em 2px $accent;
	}
}